DATABASE_URL=postgresql://max_power:test1234@postgres-db:5432/test
BACKEND_API_URL=http://backend-nestjs-dev:3000/api
PUBLIC_API_URL=http://localhost:3001/api
POSTGRES_USER=max_power
POSTGRES_PASSWORD=test1234
POSTGRES_DB=test
