services:
  frontend-nextjs-dev:
    container_name: frontend-nextjs-dev
    build:
      context: "./frontend-nextjs"
      dockerfile: Dockerfile.dev
    ports: ["5174:3000"]
    profiles: [dev]
    environment: ["BACKEND_API_URL=${BACKEND_API_URL}"]
    volumes: ["./frontend-nextjs:/app", "/app/node_modules"]

  backend-nestjs-dev:
    container_name: backend-nestjs-dev
    build:
      context: ./backend-nestjs
      dockerfile: Dockerfile.dev
    ports: ["3001:3000"]
    profiles: [dev]
    depends_on: [postgres-db]
    environment: ["DATABASE_URL=${DATABASE_URL}"]
    volumes: ["./backend-nestjs:/app", "/app/node_modules"]

  postgres-db:
    image: "postgres:18"
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: ["5433:5432"]
    volumes: ["postgres-data:/var/lib/postgresql"]

volumes:
  postgres-data:
